## Mod 6 Lecture 4 Code-Along:  Simple Linear Regression

### Purpose

**Purpose**: Use both the statsmodels and sklearn libraries to fit a simple linear regression model ; fitted on full data (FOR NOW) just to learn mechanics. Validation comes in future lectures 

### Data
We are looking at ONE month's worth of data (December 2023 to be exact).  Remember the data dictionary is found [HERE](https://data.cityofnewyork.us/Transportation/2023-Yellow-Taxi-Trip-Data/4b4i-vvec/about_data)

### Step 0:  Read in Data & EXPLORE 

**Remember**:  EDA is MOST of your time so you should spend time doing EDA before ANY modeling

In [2]:
# import packages
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np

In [3]:
# Read in data and look at it!
path = '/Users/Marcy_Student/Desktop/Marcy-Modules/marcy-git/DA2025_Lectures/Mod6/data/2023_Yellow_Taxi_Trip_Data_20251015.csv'

df = pd.read_csv(path, low_memory=False)
display(df.head(20))
display(df.info())
display(df.describe())

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,12/01/2023 04:11:39 PM,12/01/2023 04:19:13 PM,2.0,0.69,1.0,N,141,140,1,7.9,2.5,0.5,3,0.00,1.0,17.4,2.5,0.00
1,1,12/01/2023 04:11:39 PM,12/01/2023 04:20:41 PM,3.0,1.1,1.0,N,236,263,2,10,5.0,0.5,0,0.00,1.0,16.5,2.5,0.00
2,2,12/01/2023 04:11:39 PM,12/01/2023 04:20:38 PM,1.0,1.57,1.0,N,48,239,4,-10.7,-2.5,-0.5,0,0.00,-1.0,-17.2,-2.5,0.00
3,2,12/01/2023 04:11:39 PM,12/01/2023 04:20:38 PM,1.0,1.57,1.0,N,48,239,4,10.7,2.5,0.5,0,0.00,1.0,17.2,2.5,0.00
4,1,12/01/2023 04:11:39 PM,12/01/2023 04:34:39 PM,2.0,3,1.0,N,164,211,1,21.9,5.0,0.5,3,0.00,1.0,31.4,2.5,0.00
5,2,12/01/2023 04:11:40 PM,12/01/2023 04:23:51 PM,1.0,1.24,1.0,N,142,162,4,-11.4,-2.5,-0.5,0,0.00,-1.0,-17.9,-2.5,0.00
6,2,12/01/2023 04:11:40 PM,12/01/2023 04:23:51 PM,1.0,1.24,1.0,N,142,162,4,11.4,2.5,0.5,0,0.00,1.0,17.9,2.5,0.00
7,2,12/01/2023 04:11:40 PM,12/01/2023 04:28:50 PM,6.0,2.15,1.0,N,238,48,1,16.3,2.5,0.5,3.42,0.00,1.0,26.22,2.5,0.00
8,2,12/01/2023 04:11:40 PM,12/01/2023 04:27:21 PM,2.0,2.49,1.0,N,236,41,2,15.6,2.5,0.5,0,0.00,1.0,22.1,2.5,0.00
9,1,12/01/2023 04:11:41 PM,12/01/2023 04:14:35 PM,1.0,0.3,1.0,N,163,161,1,4.4,5.0,0.5,2.2,0.00,1.0,13.1,2.5,0.00
10,2,12/01/2023 04:11:41 PM,12/01/2023 04:28:34 PM,1.0,1.47,1.0,N,137,229,1,14.9,0.0,0.5,3.78,0.00,1.0,22.68,2.5,0.00
11,2,12/01/2023 04:11:41 PM,12/01/2023 04:19:19 PM,1.0,0.51,1.0,N,161,161,1,7.9,2.5,0.5,0,0.00,1.0,14.4,2.5,0.00
12,2,12/01/2023 04:11:41 PM,12/01/2023 05:09:19 PM,1.0,19.78,2.0,N,132,263,1,70,5.0,0.5,17.54,6.94,1.0,105.23,2.5,1.75
13,1,12/01/2023 04:11:42 PM,12/01/2023 04:23:46 PM,1.0,1.2,1.0,N,186,170,1,11.4,5.0,0.5,2,0.00,1.0,19.9,2.5,0.00
14,1,12/01/2023 04:11:42 PM,12/01/2023 04:24:04 PM,0.0,2.5,1.0,N,137,79,1,14.2,5.0,0.5,4.1,0.00,1.0,24.8,2.5,0.00
15,2,12/01/2023 04:11:42 PM,12/01/2023 04:54:59 PM,1.0,4.03,1.0,N,43,68,1,35.9,2.5,0.5,3,0.00,1.0,45.4,2.5,0.00
16,2,12/01/2023 04:11:42 PM,12/01/2023 04:28:15 PM,1.0,0.71,1.0,N,237,162,1,14.2,0.0,0.5,2,0.00,1.0,20.2,2.5,0.00
17,2,12/01/2023 04:11:42 PM,12/01/2023 04:24:57 PM,1.0,1.43,1.0,N,162,236,1,12.8,2.5,0.5,2.9,0.00,1.0,22.2,2.5,0.00
18,2,12/01/2023 04:11:43 PM,12/01/2023 04:23:13 PM,1.0,0.83,1.0,N,237,141,1,10.7,2.5,0.5,3.44,0.00,1.0,20.64,2.5,0.00
19,1,12/01/2023 04:11:43 PM,12/01/2023 04:27:54 PM,1.0,2.5,1.0,N,246,114,1,16.3,5.0,0.5,5,0.00,1.0,27.8,2.5,0.00

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3310907 entries, 0 to 3310906
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        float64
 4   trip_distance          object
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            object
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             object
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           object
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: float64(8), int64(4), object(7)
memory usage: 479.9+ MB

None

,VendorID,passenger_count,RatecodeID,PULocationID,DOLocationID,payment_type,extra,mta_tax,tolls_amount,improvement_surcharge,congestion_surcharge,airport_fee
count,3.310907e+06,3.133527e+06,3.133527e+06,3.310907e+06,3.310907e+06,3.310907e+06,3.310907e+06,3.310907e+06,3.310907e+06,3.310907e+06,3.133527e+06,3.133527e+06
mean,1.750368e+00,1.409560e+00,1.784972e+00,1.650685e+02,1.639182e+02,1.168633e+00,1.485240e+00,4.828656e-01,5.734011e-01,9.758456e-01,2.270032e+00,1.367974e-01
std,4.356449e-01,9.117169e-01,8.283274e+00,6.428330e+01,6.968454e+01,5.959677e-01,1.814139e+00,1.206643e-01,2.228458e+00,2.170912e-01,8.078364e-01,4.796868e-01
min,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-3.917000e+01,-5.000000e-01,-7.000000e+01,-1.000000e+00,-2.500000e+00,-1.750000e+00
25%,1.000000e+00,1.000000e+00,1.000000e+00,1.320000e+02,1.130000e+02,1.000000e+00,0.000000e+00,5.000000e-01,0.000000e+00,1.000000e+00,2.500000e+00,0.000000e+00
50%,2.000000e+00,1.000000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,1.000000e+00,5.000000e-01,0.000000e+00,1.000000e+00,2.500000e+00,0.000000e+00
75%,2.000000e+00,2.000000e+00,1.000000e+00,2.340000e+02,2.340000e+02,1.000000e+00,2.500000e+00,5.000000e-01,0.000000e+00,1.000000e+00,2.500000e+00,0.000000e+00
max,6.000000e+00,9.000000e+00,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,5.168000e+01,4.217000e+01,1.613800e+02,1.000000e+00,2.500000e+00,1.750000e+00

### Step 1:  Model `trip_distance` to make inferences about `tip_pct` using **Statsmodels**

**Note**:  Look up statsmodels documentation BEFORE modeling so you see all the methods and attributes available to you!

In [4]:
# Coerce fare, tip, distance to numeric safely
num_cols = ['fare_amount', 'tip_amount', 'trip_distance']
for c in num_cols:
    df[c] = pd.to_numeric(
        df[c].astype(str).str.strip().str.replace(r'[^0-9.+\-eE]', '', regex=True),
        errors='coerce'
)

In [5]:
# Clean data some and add a new column called 'tip_pct' as the target 
df = df[(df['fare_amount'] > 0) & (df['tip_amount'] >= 0) & (df['trip_distance'] > 0)]
df = df.replace([np.inf, -np.inf], np.nan).dropna(subset=num_cols)
df['tip_pct'] = (df['tip_amount']/df['fare_amount']).clip(0,1)

In [6]:
df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count          float64
trip_distance            float64
RatecodeID               float64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount              object
congestion_surcharge     float64
airport_fee              float64
tip_pct                  float64
dtype: object

In [7]:
X = sm.add_constant(df[['trip_distance']]) #add intercept yourself for statsmodels
y = df['tip_pct']
model = sm.OLS(y, X).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                tip_pct   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     73.62
Date:                Thu, 30 Oct 2025   Prob (F-statistic):           9.46e-18
Time:                        13:18:41   Log-Likelihood:             1.7468e+06
No. Observations:             3200255   AIC:                        -3.494e+06
Df Residuals:                 3200253   BIC:                        -3.494e+06
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const             0.1999   7.84e-05   2549.643      0.000       0.200       0.200
trip_distance -4.257e-06   4.96e-07     -8.580      0.000   -5.23e-06   -3.28e-06
==============================================================================
Omnibus:                    67805.313   Durbin-Watson:                   1.968
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           120891.093
Skew:                           0.172   Prob(JB):                         0.00
Kurtosis:                       3.888   Cond. No.                         158.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [8]:
X

         const  trip_distance
0          1.0           0.69
1          1.0           1.10
3          1.0           1.57
4          1.0           3.00
6          1.0           1.24
...        ...            ...
3310901    1.0           0.71
3310902    1.0           1.70
3310903    1.0          21.60
3310905    1.0           0.01
3310906    1.0          16.67

[3200255 rows x 2 columns]

#### Look at the coefficient and p-value...does it make sense?  How would you interpret the coeff and pvalue?

Answer:  None

### Step 2:  Model `trip_distance` to make inferences about `tip_pct` using **sklearn**

**Note**:  Look up sklearn documentation BEFORE modeling so you see all the methods and attributes available to you!

In [9]:
X = df[['trip_distance']]
y = df['tip_pct']
lin = LinearRegression().fit(X, y) #default fits intercept 
print('Intercept (β₀):', lin.intercept_)
print('Slope (β₁):', lin.coef_[0])

Intercept (β₀): 0.19985730341232713
Slope (β₁): -4.2574593050381635e-06

#### Did sklearn give you the same results as statsmodels?  What are the code differences?

### Step 3:  Make an inference to the business (NYC Transportation Commission)

Answer: None