# M1L5 Pandas Part 2 Data Challenge:  EDA

## Scenario

We'll be working with a real-world dataset from the NYC Open Data portal, focusing on the leading causes of death in New York City (same as data challenge 4). This dataset provides valuable insights into public health trends and disparities. Understanding this data is crucial for community advocacy and policy-making.

For more information about the data (which is highly recommended) here is the [Link to the Data](https://data.cityofnewyork.us/Health/New-York-City-Leading-Causes-of-Death/jb7j-dtam/about_data)

## Objectives 
- Group and Aggregate Data
- Create a contingency table with `crosstab()`
- Check for duplicated data (remember not all duplicated data needs to be dropped)

**Let's get started!**

### Step 1:  Import Pandas & Numpy

In [35]:
# Import Pandas & Numpy
import pandas as pd
import numpy as np

### Step 2: Load the dataset (csv file stored in the data folder) into a Pandas DataFrame. The file is called:  `nyc_causeofdeath.csv`

In [36]:
df = pd.read_csv('/Users/Marcy_Student/Desktop/marcy/marcy-git/DA2025_Lectures/Mod1/CSVs/New_York_City_Leading_Causes_of_Death_20250605.csv')

### Step 3: Check the information of the data (column names, data types, size, etc.)

In [37]:
df

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
0,2007,Diabetes Mellitus (E10-E14),M,Other Race/ Ethnicity,11,.,.
1,2010,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,Not Stated/Unknown,70,.,.
2,2007,Cerebrovascular Disease (Stroke: I60-I69),M,Black Non-Hispanic,213,25,33
3,2007,Atherosclerosis (I70),F,Other Race/ Ethnicity,.,.,.
4,2014,Malignant Neoplasms (Cancer: C00-C97),F,Black Non-Hispanic,1852,176.5,148.4
...,...,...,...,...,...,...,...
1089,2013,All Other Causes,M,White Non-Hispanic,2293,170.3,143.3
1090,2009,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",M,Not Stated/Unknown,94,.,.
1091,2008,Human Immunodeficiency Virus Disease (HIV: B20...,M,Not Stated/Unknown,9,.,.
1092,2010,Chronic Lower Respiratory Diseases (J40-J47),M,Hispanic,149,13,23.9
1093,2013,"Nephritis, Nephrotic Syndrome and Nephrisis (N...",F,Black Non-Hispanic,93,8.9,7.6

### Step 4:  We need to change Deaths from an object to an integer so that we can do some MATH (you will learn this officially later) for now just run the cell below.

In [38]:
#Run this cell without changes 
df['Deaths'] = df['Deaths'].replace('.', np.nan)
df['Deaths'] = pd.to_numeric(df['Deaths'])

### Step 5:  Create code to get the sum of deaths by Sex -- what Sex has the most deaths based on this data (add a comment in the cell with your answer)

In [44]:
deaths_by_sex = df.groupby(df['Sex'])['Deaths'].sum()
print(deaths_by_sex)

Sex
F    217071.0
M    207927.0
Name: Deaths, dtype: float64

### Step 6:  Now create a contingency table (using `crosstab()`) of the Leading Cause of Death by Sex -- put a comment in the cell of a takeaway from the output

In [ ]:
cause_by_sex = pd.crosstab(df['Leading Cause'], df['Sex'])
cause_by_sex

# We can see that certain leading causes of deaths are more apparent in certain sexes. For example, more men tend to die from Mental/Behavioral Disorders --> Substance abuse, etc.

Sex                                                  F   M
Leading Cause
Accidents Except Drug Posioning (V01-X39, X43, ...  35  45
All Other Causes                                    48  48
Alzheimer's Disease (G30)                           31   1
Aortic Aneurysm and Dissection (I71)                 2   1
Assault (Homicide: Y87.1, X85-Y09)                   3  17
Atherosclerosis (I70)                                3   0
Cerebrovascular Disease (Stroke: I60-I69)           48  42
Certain Conditions originating in the Perinatal...  13  13
Chronic Liver Disease and Cirrhosis (K70, K73)       8  21
Chronic Lower Respiratory Diseases (J40-J47)        45  43
Congenital Malformations, Deformations, and Chr...   6   2
Diabetes Mellitus (E10-E14)                         47  45
Diseases of Heart (I00-I09, I11, I13, I20-I51)      48  48
Essential Hypertension and Renal Diseases (I10,...  46  29
Human Immunodeficiency Virus Disease (HIV: B20-...  17  26
Influenza (Flu) and Pneumonia (J09-J18)             48  48
Insitu or Benign / Uncertain Neoplasms (D00-D48)     5   0
Intentional Self-Harm (Suicide: X60-X84, Y87.0)     12  26
Malignant Neoplasms (Cancer: C00-C97)               48  48
Mental and Behavioral Disorders due to Accident...  12  27
Mental and Behavioral Disorders due to Use of A...   0   2
Nephritis, Nephrotic Syndrome and Nephrisis (N0...  14   3
Parkinson's Disease (G20)                            1   0
Septicemia (A40-A41)                                11   2
Tuberculosis (A16-A19)                               1   0
Viral Hepatitis (B15-B19)                            2   3

### Step 7:  Are there any duplicate records in this dataset?  Code it below and add a comment with your answer

In [ ]:
for col in df.columns:
    print(pd.value_counts(df[col].duplicated()))
    print('')

    # Yes, All columns have duplicate rows.

Year
True     1086
False       8
Name: count, dtype: int64

Leading Cause
True     1068
False      26
Name: count, dtype: int64

Sex
True     1092
False       2
Name: count, dtype: int64

Race Ethnicity
True     1088
False       6
Name: count, dtype: int64

Deaths
True     629
False    465
Name: count, dtype: int64

Death Rate
True     652
False    442
Name: count, dtype: int64

Age Adjusted Death Rate
True     667
False    427
Name: count, dtype: int64

/var/folders/gs/yv3dj4zx2tgdd5tw701ypspm0000gp/T/ipykernel_6794/2242713731.py:2: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  print(pd.value_counts(df[col].duplicated()))

## Above and Beyond (AAB)  -- OPTIONAL

### Question 1:  What year had the most deaths?

In [95]:
TopYear_Deaths = df.groupby(df['Year'])['Deaths'].sum()
# print(TopYear_Deaths)
print(TopYear_Deaths.loc[TopYear_Deaths == TopYear_Deaths.max()])

Year
2008    54138.0
Name: Deaths, dtype: float64

### Question 2:  Change the 'Death Rate' column to a float.  Why would you want to do this?

In [ ]:
df['Death Rate'].astype(float)

# You might want to do this in order to use functions on this column that entail floats.

ValueError: could not convert string to float: '.'