# M1L6 Data Challenge:  Missing Data

## Scenario

You are continuing your analysis of the "New York City Leading Causes of Death" dataset.  You've noticed that the Deaths and Death Rate columns contain some missing values, represented by periods ('.').  Missing data is a common issue in real-world datasets, and it's crucial to handle it appropriately to avoid biased or inaccurate conclusions.


For more information about the data (which is highly recommended) here is the [Link to the Data](https://data.cityofnewyork.us/Health/New-York-City-Leading-Causes-of-Death/jb7j-dtam/about_data)

## Objectives 

- Create missing value indicator columns.
- Identify the extent of missing data in the Deaths and Death Rate columns.
- Impute these missing values using appropriate strategies.



**Let's get started!**

### Step 1:  Import Pandas & Numpy

In [1]:
# Import Pandas 
import pandas as pd
import numpy as np

### Step 2: Load the dataset (csv file stored in the data folder) into a Pandas DataFrame. 

The file is called:  `nyc_causeofdeath.csv`

In [48]:
df = pd.read_csv('/Users/Marcy_Student/Desktop/marcy/marcy-git/DA2025_Lectures/Mod1/CSVs/New_York_City_Leading_Causes_of_Death_20250605.csv')
df

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
0,2007,Diabetes Mellitus (E10-E14),M,Other Race/ Ethnicity,11,.,.
1,2010,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,Not Stated/Unknown,70,.,.
2,2007,Cerebrovascular Disease (Stroke: I60-I69),M,Black Non-Hispanic,213,25,33
3,2007,Atherosclerosis (I70),F,Other Race/ Ethnicity,.,.,.
4,2014,Malignant Neoplasms (Cancer: C00-C97),F,Black Non-Hispanic,1852,176.5,148.4
...,...,...,...,...,...,...,...
1089,2013,All Other Causes,M,White Non-Hispanic,2293,170.3,143.3
1090,2009,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",M,Not Stated/Unknown,94,.,.
1091,2008,Human Immunodeficiency Virus Disease (HIV: B20...,M,Not Stated/Unknown,9,.,.
1092,2010,Chronic Lower Respiratory Diseases (J40-J47),M,Hispanic,149,13,23.9
1093,2013,"Nephritis, Nephrotic Syndrome and Nephrisis (N...",F,Black Non-Hispanic,93,8.9,7.6

### Step 3: Count up the number of missing values in 2 columns

a.  Use value_counts() to determine the number of missing values (represented by '.') in the `Deaths` and `Death Rate` columns.  Print the value counts for each column.  Be sure to set dropna=False as an argument within value_counts()

b.  Add a comment for the number of missig values (aka periods '.') are in each column

In [ ]:
df.value_counts(subset='Death Rate', dropna=False)
# '.' = 386

Death Rate
.        386
17.3       7
13         7
5.8        6
16.3       6
        ...
215.7      1
214.3      1
21.8       1
21.6       1
99.2       1
Name: count, Length: 442, dtype: int64

In [78]:
# I GIVE UP

In [49]:
Deaths_na_sum = df.value_counts(subset='Deaths', dropna=False).sum()

DeathRate_na_sum = df.value_counts(subset='Death Rate', dropna=False).sum()

print('Null Rows Count:', Deaths_na_sum)
print('Null Rows Count:', DeathRate_na_sum)

Null Rows Count: 1094
Null Rows Count: 1094

In [50]:
#Comment 1:  
print(pd.value_counts(df['Deaths'].str.contains('.')))

print('')

#Comment 2:  
print(pd.value_counts(df['Death Rate'].str.contains('.')))

Deaths
True    1094
Name: count, dtype: int64

Death Rate
True    1094
Name: count, dtype: int64

/var/folders/gs/yv3dj4zx2tgdd5tw701ypspm0000gp/T/ipykernel_5741/662964514.py:2: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  print(pd.value_counts(df['Deaths'].str.contains('.')))
/var/folders/gs/yv3dj4zx2tgdd5tw701ypspm0000gp/T/ipykernel_5741/662964514.py:7: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  print(pd.value_counts(df['Death Rate'].str.contains('.')))

### Step 4:  Replace periods with NaN (not a number) and convert to numeric 

- a. Replace the '.' values in the `Deaths` and `Death Rate` columns with `np.nan`.
- b. Convert the `Deaths` and `Death Rate` columns to numeric.

This may take several lines of code

In [115]:
df['Death Rate'] = df['Death Rate'].replace('.', np.nan)
df['Deaths'] = df['Deaths'].replace('.', np.nan)

# df['Death Rate'] = df['Death Rate'].astype('int')

numDeathRate = np.array(df['Death Rate'])
numDeaths = np.array(df['Deaths'])

numDeathRate.astype(float)
numDeaths.astype(float)

df['Death Rate'] = numDeathRate
df['Deaths'] = numDeaths

In [116]:
df['Death Rate']

0         NaN
1         NaN
2          25
3         NaN
4       176.5
        ...
1089    170.3
1090      NaN
1091      NaN
1092       13
1093      8.9
Name: Death Rate, Length: 1094, dtype: object

### Step 5:  Check the data's info again 

Run a `.info()` to see if the columns have missing data in them -- they should!

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     1094 non-null   int64
 1   Leading Cause            1094 non-null   object
 2   Sex                      1094 non-null   object
 3   Race Ethnicity           1094 non-null   object
 4   Deaths                   956 non-null    object
 5   Death Rate               708 non-null    object
 6   Age Adjusted Death Rate  1094 non-null   object
 7   Deaths_missing           1094 non-null   int64
 8   Death_Rate_missing       1094 non-null   int64
dtypes: int64(3), object(6)
memory usage: 77.0+ KB

## Step 6:  Create a missing inidcator (run the code below without changes)

-  This column will have a 1 if the row is missing a value in a respective column and 0 if it is not 

-  Add a comment about what the np.where() function is (feel free to use documentation)

In [118]:
#Run this cell without changes 

df['Deaths_missing'] = np.where(df['Deaths'].isna(), 1, 0)
df['Death_Rate_missing'] = np.where(df['Death Rate'].isna(), 1, 0)

### Step 7:  Calculate the median for each column

In [141]:
col = ['Year', 'Deaths_missing', 'Death_Rate_missing']
for col in df[col]:
    print(df[col].median())


median_year = 2010
median_Deathsmissing = 0
median_DeathRatemissing = 0

2010.0
0.0
0.0

### Step 8:  Use the median to fill in each column's missing values (aka impute)

Hint:  Use `fillna()` with the median values you created above.

In [148]:
df['Year'] = df['Year'].replace('.', median_year)
df['Deaths_missing'] = df['Deaths_missing'].replace('.', median_Deathsmissing)
df['Death_Rate_missing'] = df['Death_Rate_missing'].replace('.', median_DeathRatemissing)

In [150]:
#Check the info to see if imputation worked 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     1094 non-null   int64
 1   Leading Cause            1094 non-null   object
 2   Sex                      1094 non-null   object
 3   Race Ethnicity           1094 non-null   object
 4   Deaths                   956 non-null    object
 5   Death Rate               708 non-null    object
 6   Age Adjusted Death Rate  1094 non-null   object
 7   Deaths_missing           1094 non-null   int64
 8   Death_Rate_missing       1094 non-null   int64
dtypes: int64(3), object(6)
memory usage: 77.0+ KB

## Above and Beyond (AAB)  -- OPTIONAL

### Question 1:  What year had the most deaths?

In [ ]:
None

### Question 2:  Change the 'Death Rate' column to a float.  

Why would you want to do this?  Add a comment answering this question.

In [19]:
None