## üõ†Ô∏è Mod5 Data Challenge 1: ETL-in-the-Wild ‚Äî Cleaning Civic Data for Product Insights

### üéØ Purpose

Practice applying the "Transform" step of an ETL pipeline using a real-world dataset‚ÄîNYC 311 Service Requests. You‚Äôll clean, standardize, and engineer features to prep the data for downstream analysis and business reporting.

### üìö KSBs

K14 ‚Äì Strategic feature engineering to improve analysis outcomes

S5 ‚Äì Data transformation techniques in Python

S8 ‚Äì Uses Pandas for EDA and data manipulation

B4 ‚Äì Exercises critical judgment about data quality and reliability

B6 ‚Äì Pursues deeper insights beyond surface-level observations

### Data
Use the **nyc311.csv** file located in your Github's `data` folder within Mod5/DataChallenges.  This is a sample of the originial file looking at just one week of data since the dataset is HUGE.  Read more about the columns [HERE](https://data.cityofnewyork.us/Social-Services/311-Service-Requests-from-2010-to-Present/erm2-nwe9/about_data).

### üë©‚Äçüè´ Instructor-Led Demo (15 minutes)

#### Step 1:  Load + Preview 
* Read in data

* Show .head(), .info() to examine structure and datatypes

In [16]:
import pandas as pd

path = '/Users/Marcy_Student/Desktop/Marcy-Modules/Mod5/Data-challenge/nyc311.csv'
df = pd.read_csv(path)
df

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,66178993,09/17/2025 02:50:56 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,10457.0,CROSS BRONX EXPRESSWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,66174339,09/17/2025 02:44:55 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,10469.0,SEYMOUR AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,66170874,09/17/2025 02:42:45 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,10467.0,BOSTON ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,66172189,09/17/2025 01:51:12 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Blocked Sidewalk,Street/Sidewalk,11691.0,13-54 DAVIES ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.599549,-73.748018,"(40.5995492740367, -73.74801784107588)"
4,66175640,09/17/2025 01:50:43 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,11372.0,89-07 34 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.754443,-73.878352,"(40.754442992557145, -73.87835236707805)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55810,66123433,09/11/2025 10:48:18 AM,09/13/2025 05:56:22 PM,HPD,Department of Housing Preservation and Develop...,APPLIANCE,REFRIGERATOR,RESIDENTIAL BUILDING,11208.0,1097 GLENMORE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.677233,-73.868409,"(40.67723284394943, -73.86840939045801)"
55811,66119235,09/11/2025 10:48:18 AM,09/13/2025 05:56:22 PM,HPD,Department of Housing Preservation and Develop...,UNSANITARY CONDITION,PESTS,RESIDENTIAL BUILDING,11208.0,1097 GLENMORE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.677233,-73.868409,"(40.67723284394943, -73.86840939045801)"
55812,66119222,09/11/2025 10:48:18 AM,09/13/2025 05:56:22 PM,HPD,Department of Housing Preservation and Develop...,UNSANITARY CONDITION,MOLD,RESIDENTIAL BUILDING,11208.0,1097 GLENMORE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.677233,-73.868409,"(40.67723284394943, -73.86840939045801)"
55813,66117803,09/11/2025 10:48:18 AM,09/13/2025 05:56:22 PM,HPD,Department of Housing Preservation and Develop...,PLUMBING,WATER SUPPLY,RESIDENTIAL BUILDING,11208.0,1097 GLENMORE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.677233,-73.868409,"(40.67723284394943, -73.86840939045801)"
55814,66117704,09/11/2025 10:48:18 AM,09/13/2025 05:56:22 PM,HPD,Department of Housing Preservation and Develop...,DOOR/WINDOW,DOOR,RESIDENTIAL BUILDING,11208.0,1097 GLENMORE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.677233,-73.868409,"(40.67723284394943, -73.86840939045801)"

#### Step 2:  Clean up Categorical Variable 

* Normalize Borough & Complaint Type (e.g., strip whitespace, title-case or upper-case values)

* Show .value_counts() before and after cleaning

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55815 entries, 0 to 55814
Data columns (total 41 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unique Key                      55815 non-null  int64
 1   Created Date                    55815 non-null  object
 2   Closed Date                     41348 non-null  object
 3   Agency                          55815 non-null  object
 4   Agency Name                     55815 non-null  object
 5   Complaint Type                  55815 non-null  object
 6   Descriptor                      54400 non-null  object
 7   Location Type                   49701 non-null  object
 8   Incident Zip                    55361 non-null  float64
 9   Incident Address                54235 non-null  object
 10  Street Name                     54233 non-null  object
 11  Cross Street 1                  46608 non-null  object
 12  Cross Street 2                  46637 non-null  object
 13  Intersection Street 1           44052 non-null  object
 14  Intersection Street 2           44091 non-null  object
 15  Address Type                    55621 non-null  object
 16  City                            52708 non-null  object
 17  Landmark                        40086 non-null  object
 18  Facility Type                   134 non-null    object
 19  Status                          55815 non-null  object
 20  Due Date                        328 non-null    object
 21  Resolution Description          48016 non-null  object
 22  Resolution Action Updated Date  48870 non-null  object
 23  Community Board                 55815 non-null  object
 24  BBL                             49122 non-null  float64
 25  Borough                         55815 non-null  object
 26  X Coordinate (State Plane)      54942 non-null  float64
 27  Y Coordinate (State Plane)      54943 non-null  float64
 28  Open Data Channel Type          55815 non-null  object
 29  Park Facility Name              55675 non-null  object
 30  Park Borough                    55815 non-null  object
 31  Vehicle Type                    2871 non-null   object
 32  Taxi Company Borough            31 non-null     object
 33  Taxi Pick Up Location           494 non-null    object
 34  Bridge Highway Name             277 non-null    object
 35  Bridge Highway Direction        139 non-null    object
 36  Road Ramp                       118 non-null    object
 37  Bridge Highway Segment          277 non-null    object
 38  Latitude                        54942 non-null  float64
 39  Longitude                       54942 non-null  float64
 40  Location                        54942 non-null  object
dtypes: float64(6), int64(1), object(34)
memory usage: 17.5+ MB

In [18]:
# Strip whitespace and standardize case
for col in ["Complaint Type", "Borough"]:
    if col in df.columns:
        df[col] = df[col].astype(str).str.strip()

# pick a style (title-case often reads nicely)
df["Complaint Type"] = df['Complaint Type'].str.title()
df["Borough"] = df['Borough'].str.title()

# quick sanity checks
display(df["Complaint Type"].value_counts().head(10))
display(df["Borough"].value_counts())

Complaint Type
Illegal Parking            10654
Noise - Residential         6603
Noise - Street/Sidewalk     4532
Blocked Driveway            3002
Unsanitary Condition        1539
Noise - Commercial          1411
Dirty Condition             1176
Abandoned Vehicle           1050
Street Condition            1032
Noise                       1023
Name: count, dtype: int64

Borough
Brooklyn         17102
Queens           14668
Manhattan        11729
Bronx            10041
Staten Island     2226
Unspecified         49
Name: count, dtype: int64

#### Step 3:  Feature Engineering

* Convert Created Date to datetime

* Create a new feature: is_weekend based on weekday

In [19]:
# to datetime
df['Created Date'] = pd.to_datetime(df['Created Date'])

#new feature
df['is_weekend'] = df['Created Date'].dt.day_of_week >= 5
df['is_weekend'].value_counts()

is_weekend
False    35996
True     19819
Name: count, dtype: int64

### üë©‚Äçüíª Student-Led Section (30 minutes)

#### Task1:  Clean & Filter

* Drop rows with missing Created Date or Closed Date

* Drop duplicate rows

* Filter data to only include one borough (e.g., Brooklyn)

In [23]:
# 1a) Drop rows with missing Created/Closed Date
df['Created Date'] = df['Created Date'].dropna()
df['Closed Date'] = df['Closed Date'].dropna()

# 1b) Drop duplicates
df = df.drop_duplicates()

# 1c) Filter to a single borough (STUDENT CHOICE)
borough_name = 'Queens'  # e.g., "Brooklyn"
df_b = df[df["Borough"] == borough_name].copy()
df_b.shape

(14668, 42)

#### Task2:  Time Transformations 

* Create a new column `response_time_hrs` = difference between Closed Date and Created Date (in hours)

* Ensure datetime types are properly parsed and timezone-aware (localize to America/New_York ‚Üí convert to UTC)

In [25]:
# RUN THIS CELL WITHOUT CHANGES!!!! 

LOCAL_TZ = "America/New_York"

def to_utc(series, local_tz=LOCAL_TZ):
    # 1) parse
    s = pd.to_datetime(series, errors="coerce")

    # 2) if naive -> localize; if tz-aware -> skip (KEEP NONE in this if statement)
    if s.dt.tz is None:
        s = s.dt.tz_localize(local_tz, nonexistent="shift_forward", ambiguous="NaT")

    # 3) convert whatever tz it has to UTC
    return s.dt.tz_convert("UTC")

In [27]:
# Convert both columns to utc
df_b["Created Date"] = to_utc(df_b["Created Date"])
df_b["Closed Date"]  = to_utc(df_b['Closed Date'])

# Now compute the response time
delta = df_b['Closed Date'] - df_b['Created Date']
df_b["response_time_hrs"] = delta.dt.total_seconds() / 3600

# Check the data with a .head()
df_b.head(5)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location,is_weekend,response_time_hrs
3,66172189,2025-09-17 05:51:12+00:00,NaT,NYPD,New York City Police Department,Illegal Parking,Blocked Sidewalk,Street/Sidewalk,11691.0,13-54 DAVIES ROAD,...,NaN,NaN,NaN,NaN,NaN,40.599549,-73.748018,"(40.5995492740367, -73.74801784107588)",False,NaN
4,66175640,2025-09-17 05:50:43+00:00,NaT,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,11372.0,89-07 34 AVENUE,...,NaN,NaN,NaN,NaN,NaN,40.754443,-73.878352,"(40.754442992557145, -73.87835236707805)",False,NaN
6,66174487,2025-09-17 05:49:53+00:00,NaT,NYPD,New York City Police Department,Illegal Parking,Blocked Hydrant,Street/Sidewalk,11375.0,110-21 73 ROAD,...,NaN,NaN,NaN,NaN,NaN,40.718137,-73.839357,"(40.71813696416197, -73.83935729253217)",False,NaN
7,66176906,2025-09-17 05:49:53+00:00,2025-09-17 07:00:34+00:00,DHS,Department of Homeless Services,Homeless Person Assistance,Non-Chronic,Store/Commercial,11385.0,55-25 MYRTLE AVENUE,...,NaN,NaN,NaN,NaN,NaN,40.699957,-73.907722,"(40.69995662802054, -73.90772175534917)",False,1.178056
8,66170950,2025-09-17 05:49:23+00:00,NaT,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11385.0,1727 STANHOPE STREET,...,NaN,NaN,NaN,NaN,NaN,40.706012,-73.915133,"(40.70601179645897, -73.91513251792247)",False,NaN

#### Task3:  Feature Engineer

* Create `hour_of_day` from Created Date

* Create `is_high_priority`: True if Complaint Type is in a list of priority complaints (e.g., ["HEAT/HOT WATER", "ELECTRIC", "STRUCTURAL"])

In [31]:
# hour_of_day from Created Date 
df_b["hour_of_day"] = df_b['Created Date'].dt.hour

# define a high-priority list (STUDENT CHOICE)
priority_list = 'Structural'  # e.g., ["Heat/Hot Water","Electric","Elevator","Structural"]
df_b["is_high_priority"] = df_b['Complaint Type']==priority_list

display(df_b[["Complaint Type","hour_of_day","is_high_priority"]].head(5))

               Complaint Type  hour_of_day  is_high_priority
3             Illegal Parking            5             False
4     Noise - Street/Sidewalk            5             False
6             Illegal Parking            5             False
7  Homeless Person Assistance            5             False
8            Blocked Driveway            5             False

#### Task4:  Aggregates & Visuals 

* Average response time by Complaint Type (sorted descending)

* Total number of complaints by hour_of_day (bar chart)

In [33]:
# Average response time by complaint type (descending)
avg_resp = df_b.groupby('Complaint Type')['response_time_hrs'].mean().reset_index()
avg_resp

                  Complaint Type  response_time_hrs
0                 Abandoned Bike          33.152361
1              Abandoned Vehicle           3.234101
2                    Air Quality          31.853535
3    Animal Facility - No Permit                NaN
4               Animal In A Park           2.047377
..                           ...                ...
128           Water Conservation          34.016667
129                   Water Leak          79.124419
130                Water Quality          32.716667
131                 Water System           9.845682
132          Wood Pile Remaining                NaN

[133 rows x 2 columns]

In [34]:
# Total complaints by hour_of_day (bar chart)
hr_totalcompl = df_b.groupby('hour_of_day')['Complaint Type'].count().reset_index()
hr_totalcompl

    hour_of_day  Complaint Type
0             0             742
1             1             822
2             2             771
3             3             639
4             4             578
5             5             400
6             6             219
7             7             177
8             8             158
9             9             166
10           10             275
11           11             443
12           12             584
13           13             659
14           14             751
15           15             835
16           16             883
17           17             805
18           18             851
19           19             809
20           20             771
21           21             824
22           22             783
23           23             723

#### Notebook Reflection

Answer the questions in a markdown cell below.  Be thorough (no need to use AWES just answer the question fully)

1. Describe one transformation or feature you engineered (e.g., response_time_hrs, is_high_priority) and explain why it would be useful for a city analyst or operations manager.

    - I think response_time_hrs is the most helpful feature I engineered in this notebook. This metric allows a city analyst/operations manager to get insights and have a KPI that can actively change as effects improve/worsen. For example, when we later create more features/interactions, we can always come back to response_time_hrs to see if certain interactions are better or worse, using how long it takes to respond based on the factors. For this reason, this metric is super important to track and can push for positive change.

2. What could go wrong if you didn‚Äôt clean the datetime fields properly or skipped removing rows with missing Closed Date? How might that distort future dashboards or decisions?

    - This could affect overall averages across the entire dataset, which affects the mean response time that we compare to. Failing to properly deal with this could affect the goals that the department pushes for, because it the mean response time could be an unrealistic number to achieve and misrepresentative of the work that people on-the-field are doing when responding to complaints. It's important to properly fix these issues also to prevent mistrust from stakeholders because of your inaccurate insights.

### üì£ Class Share-Out (15 minutes)

Be ready to share out the following points with the class: 

üì£ Explain:

How average response_time_hrs by complaint type offers insight (e.g., ‚ÄúElevator complaints take longer to resolve‚Äù)

What does your chosen borough trends reveal (e.g., ‚ÄúMost heating complaints come in before 10am‚Äù)

üõ†Ô∏è Propose:

One next transformation step you would include in the full data pipeline (e.g., flagging overdue requests)